{% extends "base.html" %}
{% block body %}

<div id="splashWrapper" class="center">
<form class="form-signin">
<div class="centerContainer">

<h1 class="h3 mb-3 font-weight-normal">Please Enter Schedule ID</h1>
<label for="inputID" class="sr-only">Schedule ID</label>
<input type="scheduleID" id="inputScheduleID" class="form-control" placeholder="Schedule ID" required="" autofocus="">
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputSchedulePassword" class="form-control" placeholder="Password" required="">

  <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="">Submit</button>
</form>
</div>
</div>

{% endblock %}
