{% extends "base.html" %}
{% block body %}
<div id="wrapper">
    <!-----------Paceholder html, feel free to remove but keep id's------------>
    <input type="text" id="pwd_reset_pin" class="form-control" placeholder="Reset PIN" required="" autofocus="">
    <input type="text" id="new_pwd" class="form-control" placeholder="New Password" required="" autofocus="">
    <button type="button" name="reset_pwd" class="btn btn-outline-secondary" onclick='reset_password()'>Reset Password</button>
</div>
{% endblock %}
