{% extends "base.html" %}
{% block body %}
<script type=text/javascript src="{{url_for('static',filename='js/caleandar.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calendar.css') }}">

<div id="scheduleWrapper" class="center">
    <p>Schedule Id is {{schedule_id}}</p>
    <p>Schedule Passcode is {{passcode}}</p>
    <p>Owner is {{owner}}</p>

<div id="owner-buttons">
        {% block buttons %}
        {% endblock %}
</div>

<div id="calandar-buttons">
<form>
<label>
Invite a Guest:
  <input type="text" id="guest-email" class="form-control" placeholder="Guest Email">
  <button class="btn btn-lg btn-primary btn-block" type="submit" id="email_guest_invite", onclick="email_guest_invite()">Invite Guest</button>
</label>
</form>

<form>
 <label>
        Create a New Event:
        <input type="text" id="eventName" class="form-control" placeholder="Event Name" required>
        <input type="date" id="eventDate" required>
</label>
</form>
 </div>

    <div id="caleandar">

    </div>

    <script>
      //MONTHS START AT 0 (thanks, javascript.)
        var events = [ ];
        {% for row in data %}
            var title = "{{row[0]}}";
            var str = "{{row[1]}}";
            var nums = str.split("-");
            var date = new Date(parseInt(nums[0]), parseInt(nums[1])-1, parseInt(nums[2]));
            var event_to_add = {'Date': date, 'Title': title};
            events.push(event_to_add);
        {% endfor %}
        var settings = {};

        //for (i = 0; i < events.length; i++)
        //    document.writeln((i+1) + ": " + events[i].Title + " " + events[i].Date);

        var element = document.getElementById('caleandar');
        caleandar(element, events, settings);
    </script>

    <div id="footer">
        <p id="disclaimer">
            <em><b id="notice">DISCLAIMER:</b> This site is for educational use and should only be used as such.
            <br> Created by Alex Robbins, Nikolas Nuzzo, and Gavin Homan</em>
        </p>
    </div>
</div>
{% endblock %}
