{% extends "base.html" %}
{% block body %}
<div id="splashWrapper" class="center">
<html>
<head>
 <title></title>
</head>
<body>

<table>
  <thead>
    <tr>
        <th>Schedule ID</th>
        <th>Email</th>
        <th>Schedule Password</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
</div>
{% endblock %}
