{% extends "base.html" %}
{% block body %}
<script type=text/javascript src="{{url_for('static',filename='js/caleandar.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calendar.css') }}">

<div id="scheduleWrapper" class="center">
    <p>Schedule Id is {{schedule_id}}</p>
    <p>Schedule Passcode is {{passcode}}</p>
    <p>Owner is {{owner}}</p>

    {% block buttons %}
    {% endblock %}

    <div id="caleandar">

    </div>

    <script>
        var events = [ //MONTHS START AT 0 (thanks, javascript.)
            {'Date': new Date(2021, 2, 8), 'Title': 'Dentist at 2:30'},
            {'Date': new Date(2021, 2, 18), 'Title': 'Order TP on Amazon', 'Link': 'https://amazon.com'},
            {'Date': new Date(2021, 2, 27), 'Title': '5 year anniversary', 'Link': 'https://www.google.com.au/#q=anniversary+gifts'},
        ];
        var settings = {};

        var element = document.getElementById('caleandar');
        caleandar(element, events, settings);
    </script>

    <div id="footer">
        <p id="disclaimer">
            <em><b id="notice">DISCLAIMER:</b> This site is for educational use and should only be used as such.
            <br> Created by Alex Robbins, Nikolas Nuzzo, and Gavin Homan</em>
        </p>
    </div>
</div>
{% endblock %}
