{% extends "base.html" %}
{% block body %}
<div id="splashWrapper" class="center">
  <button type="button" id="create_schedule_button" class="btn btn-outline-secondary" onclick="create_new_schedule()">Create New Schedule</button>
    <button type="button" id="logout-button" class="btn btn-outline-secondary" onclick="display_passcode_page()">View Created Schedules</button>
  <button type="button" id="logout-button" class="btn btn-outline-secondary" onclick="user_logout()">Logout</button>
</div>
{% endblock %}
