{% extends "base.html" %}
{% block body %}
<div id="splashWrapper" class="center">
  <h1 id="title" class="sheep-header">Schedule Sheep</h1>
  <br>
  <h1 class="center" class="sheep-header">User Dashboard</h1>
  <br>
  
  <p>Welcome {{username}}</p> <br>
  <p>Your email is {{email}}</p>
  
  <button class="center" type="button" id="logout-button", onclick="user_logout()">Logout</button>
  <button class="center" type="button" name="schedule_button" onclick="display_schedule_page()">Display Schedule</button>
</div>

{% endblock %}
