{% extends "base.html" %}
{% block body %}

		<h1 id="title" class="sheep-header">Schedule Sheep</h1>
		<br>
		<h1 class="sheep-header">User Dashboard</h1>
    <br>
    <div id="splashWrapper" class="center">
      <p>Welcome {{username}}</p> <br>
      <p>Your email is {{email}}</p>
      <button type="button" id="logout-button", onclick="user_logout()">Logout</button>
    </div>

		<p style="text-align: center">
				<a href="schedule.html?flag=catalog" style="text-decoration: none"> View Schedule </a>
		</p>

{% endblock %}
